.productDescription .container {
  /* border: 2px solid black;*/
  margin-top: 20px;
}

.productDescription
  .carousel
  .carousel-control-prev
  .carousel-control-prev-icon {
  background-color: black;
}

.productDescription
  .carousel
  .carousel-control-next
  .carousel-control-next-icon {
  background-color: black;
}

.productDescription .carousel .carousel-item {
  /*border: 2px solid brown;*/
  height: auto;
}

.productDescription .carousel .carousel-item img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 650px;
}

.productDescription footer {
  height: 50px;
  background-color: darkgoldenrod;
  margin-top: 30px;
}

.productDescription .descriptionNav {
  position: relative;
  left: 10px;
  top: 10px;
}
