.lowerbarone .form-group {
  margin-top: 15px;
  margin-right: 3.5%;
}
/*
.lowerbarone .left_nav a {
  position: relative;
  color: blue;
  left: -1310px;
}

.lowerbarone .left_nav {
  margin-top: 20px;
}
.lowerbarone .left_nav a:hover {
  cursor: pointer;
  border-bottom: 1px solid blue;
  padding: 0;
}*/
