.Navbar nav {
  height: auto;
}

.Navbar .nav-link {
  color: whitesmoke;
}

.Navbar .navbar-collapse a,
img {
  margin-right: 20px;
}

@media (min-width: 500px) and (max-width: 900px) {
  .Navbar .navbar-collapse a,
  img {
    margin-right: 0px;
    margin-top: 10px;
  }
}
