.productDisp .card {
  border: 2px solid black;
  width: 280px;
  height: auto;

  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 20px; /* Added */
}

.productDisp .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
